<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <!-- CSS de Bootstrap desde CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Tu archivo de estilos CSS -->
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-warning bg-warning bg-opacity-75">
        <div class="container">
            <a class="navbar-brand" href="{% url 'usuarios:login' %}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContenido" aria-controls="navbarContenido" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarContenido">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blogMascota:listaMascota' %}">Blog Mascota</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'galeriaMusica:lista_musica' %}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'galeriaZapatillas:lista_zapatillas' %}">
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'productos:lista_productos' %}">Tablas de Productos</a>
                    </li>

                </ul>
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ user.username }}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                {% if user.perfil.rol == 'administrador' %}
                                    <a class="dropdown-item" href="{% url 'admin:index' %}">Panel de Administración</a>
                                {% endif %}
                                <a class="dropdown-item" href="#">Perfil</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'usuarios:logout' %}">Cerrar Sesión</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'usuarios:login' %}">Iniciar Sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'usuarios:registro' %}">Registrarse</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Contenido principal -->
    <div class="container mt-4">
        {% block content %}
        
        {% endblock %}
    </div>

    <!-- Pie de página -->
    <footer class="bg-warning mt-4">
        <div class="container text-center py-3">
            &copy; Creado por Jonathan Cerda, Constanza Contreras, Sandra Santos y Valentina Román
        </div>
    </footer>

    <!-- JavaScript de Bootstrap desde CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js">
    </script>
    <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    </script>


</body>
</html>